.DS_Store
.build/
DerivedData/
LocalDerivedData/
SignedDerivedData/
*.xcarchive
*.xcresult
*.xcuserstate
xcuserdata/
*.xccheckout
*.xcscmblueprint
*.cer
*.p12
*.mobileprovision
*.provisionprofile
.env
.env.*
build/
work/
